<div class="card mb-4">

    <div class="card-header text-success">
        <h3><strong>{{ review.user.username|capfirst }} a publié une critique</strong></h3>
    </div>

    <div class="card-body">

        <div class="d-flex justify-content-end small font-italic text-muted mb-2">
            {% if review.time_update == review.time_created %}
                <p>Créé le : {{ review.time_created|date:"H:i, d F Y"}}</p>
            {% else %}
                <p>Mis à jour le : {{ review.time_update|date:"H:i, d F Y"}}</p>
            {% endif %}
        </div>

        <h4><strong>Titre :</strong> {{ review.headline }}</h4>
        <p><strong>Note :</strong> {{ review.rating }}/5</p>
        <p><strong>Critique :</strong> {{ review.body }}</p>

        {% if review.user == request.user %}
            <p><a href="{% url 'edit_review' review.id %}" class="btn btn-info">Modifier la Critique</a></p>
        {% endif %}

        <div class="card mt-3">
            <div class="card-body">
                <p><strong>Auteur du ticket :</strong> {{ review.ticket.user.username|capfirst }}</p>
                <p><strong>Titre du ticket :</strong> {{ review.ticket.title }}</p>
                <p><strong>Description :</strong> {{ review.ticket.description }}</p>
                <img src="{{ review.ticket.image.url }}" class="img-fluid"> 
            </div>
        </div>
    </div>
</div>