{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Modifier le ticket</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_ticket|crispy }}
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
    </form>
   
    <h3>Supprimer le ticket ?</h3>
    <form method="post">
        {% csrf_token %}
        {{ delete_ticket|crispy }}
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>
{% endblock content %}
