{% extends 'base.html' %}
{% load templatetags %}

{% block content %}

<div class="form_block">

{% for post in posts %}

    {% if post|classname == 'Ticket' %}

        {# ticket = variable utilisée dans ticket.html #}
        {% include 'blog/partials/ticket.html' with ticket=post %}

    {% elif post|classname == 'Review' %}
        {# review = variable utilisée dans review.html #}
        {% include 'blog/partials/review.html' with review=post %}
        
    {% endif %}

{% empty %}
    <p>Vous n'avez pas encore de post.</p>

{% endfor %}
</div>
{% endblock content%}








