@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700&display=swap');

.ticket_button{
    margin-top: 20px;
}
.content-header {
    margin-top: 20px;
    margin-bottom: 20px;
}
.list-group {
    list-style-type: none;
    padding-left: 0;
}
.errorlist{
    list-style-type: none;
}
.home_block{
    padding : 5rem 20rem;
}
.form_block{
    padding : 3rem 20rem;
}
.form_title{
    margin-bottom: 2rem;
}
.form_small_title{
    margin-top: 2rem;
}
/* surcharge bootstrap */
.nav-link:hover {
    color: #000000 !important; 
}

