@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700&display=swap');

.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: #007BFF; 
    padding: 20px;
    color: #FFF; 
    padding: 10px;
}

.main-content {
    margin-left: 500px;
    padding: 20px;
    width:60%;
}
.nav-link{
    color:#FFF
}
.nav-link:hover {
    color: #01325a;
}

.ticket_button{
    margin-top: 20px;
}

.content-header {
    margin-top: 20px;
    margin-bottom: 20px;
}
.list-group {
    list-style-type: none;
    padding-left: 0;
}
.errorlist{
    list-style-type: none;
}
